#searchbar-form {
  margin-top: 5%;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.searchbar {
  border-radius: 50%;
  width: 50%;
}

#searchbar-err {
  font-family: "Roboto";
  font-weight: 700;
  text-align: "center";
  margin-top: "1%";
  color: "red";
}
